/* ========global style =========*/

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: sans-serif;
  text-decoration: none;
 list-style: none;
 letter-spacing: 1px;
}

html {
  box-sizing: border-box;
  background-color: #f2f2f2;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
  background-color: #1b1b1b;
}

.bigger{
display: flex;
justify-content: space-around;

}

h1{
    padding: 20px;
    font-size: 25px;
}



/*================== ul class .ul-flex ===========*/

.ul-flex{
    display: flex;
    
}

/* ul class .main-list */
.main-list {
    padding: 25px;
    position: relative;
}

.main-link{
    padding: 8px 15px;
   
}
.main-link:hover{
    color: cyan;
    box-shadow: 0 0 5px cyan;
    border-radius: 5px;  
}



/* ul class .sub-list */
.sub-list{
    display: none;
    position: absolute;
    background-color: #1b1b1b;
    border-radius: 5px;
    padding: 5px;
    top: 69px;
    border-top: 1px solid cyan;
    left: -10px;
    width: 160px;
}

.main-list:hover .sub-list{
    display: block;
}

.sub-list li {
padding: 8px 0;
border-bottom: 1px solid black ;
}

.sub-list li a:hover {
    color: cyan;
    font-weight: bold;
    font-size: 17px;
    }

 .sub-of-js{
    left:  10px;
 }


 /* ul class .sub-sub-list */
 .sub-sub-list {
    position: absolute;
    background-color: #1b1b1b;
    border-radius: 5px;
    padding: 5px;
    border-top: 1px solid cyan;
    width: 160px;
    top: 73px;
    left: 160px;
    display: none;
 }

 .mini-project:hover .sub-sub-list{
    display: block;
}
 /*================ header of mobile ==============*/
.mobile {
  display: none;
}


